@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

/*  
* Rating styles
*/
.rating {
    font-size: 30px;
    overflow:hidden;
    width: 190px;

    &.align-right {
        text-align: end;
    }

    .star {
        display: inline-block;
        color : $grey-light;

        &.is-selected {
            color: $orange;
        }
    }

    input {
        float: right;
        opacity: 0;
        position: absolute;

        &:focus {
            ~ {
                label {
                    color: $orange;
                    cursor: pointer;
                }
            }
        }

        &:checked {
            ~ {
                label {
                    color: $orange;
                    cursor: pointer;
                }
            }
        }
    }

    label {
        color: $grey-light;
        text-decoration: none;
        transition: color .4s;
        float: right;
        margin-right: .5rem;

        &:hover {
            ~ {
                label {
                    color: $orange;
                    cursor: pointer;
                }
            }
            color: $orange;
            cursor: pointer;
        }
    }
}